html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa,
    Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri,
    source-sans-pro, sans-serif;
  font-weight: normal;
}
:root {
  font-size: 12px;
  --dark-background-color: rgb(9, 9, 39);
  --dark-background-secondary-color: whitesmoke;
  --dark-background-button-color: rgb(212, 211, 211);
  --dark-bacground-white: white;
}
* {
  box-sizing: border-box;
}
.post-content::-webkit-scrollbar,
.upcomingEvents::-webkit-scrollbar,
#goingDialog::-webkit-scrollbar {
  background: rgb(9, 9, 39);
  width: 0.5em;
  border-radius: 10px;
}
.customLink::-webkit-scrollbar,
.customLink3::-webkit-scrollbar,
.post-link::-webkit-scrollbar {
  background: rgb(9, 9, 39);
  width: 0.2rem;
  border-radius: 10px;
  /* display: none; */
  height: 0.3rem;
}

.spinner {
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-left-color: whitesmoke;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.post-content::-webkit-scrollbar-thumb,
.upcomingEvents::-webkit-scrollbar-thumb,
.post-link::-webkit-scrollbar-thumb {
  background: rgb(61, 61, 85);
  border-radius: 10px;
}

#goingDialog::-webkit-scrollbar-thumb,
.customLink::-webkit-scrollbar-thumb,
.customLink3::-webkit-scrollbar-thumb {
  background: rgb(61, 61, 85);
  border-radius: 10px;
}
.main-container {
  width: 100vw;
  min-width: 20vw;
  height: 100vh;
  background: radial-gradient(circle, rgb(11, 11, 102), black);
  margin-left: 0px;
  display: flex;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
}

.login {
  min-width: 350px;
  width: 25vw;
  height: 63vh;
  min-height: 486px;
  background-color: whitesmoke;
  border: 2.4px solid black;
  border-radius: 2rem;
  margin-top: 4.4%;
  position: relative;
  z-index: 1;
}
.welcome-h1 {
  color: var(--dark-background-color);
  text-align: center;
  font-size: 3rem;
}
#login-form {
  position: relative;
}
.login-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  width: 20vw;
  min-width: 300px;
}
input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'] {
  border-radius: 5px;
  height: 2.4rem;
  width: 100%;
  padding: 0.9rem;
  border: 0.5px solid rgb(49, 49, 252);
  margin-top: 2%;
}
input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type='number']:focus,
#description-area:focus,
.eventDescription:focus,
input[type='date']:focus,
#location:focus,
#link:focus,
.time:focus {
  box-shadow: 0 0 6px 3px rgb(49, 49, 252);
  border: none;
  outline: none;
}
.invalid {
  box-shadow: 0 0 6px 3px rgb(201, 4, 4);
  border: none;
  outline: none;
}

.error-message {
  color: red;
  font-size: 0.8rem;
  position: absolute;
  bottom: -80%;
  left: 0;

  text-align: left;
}
.error-message2 {
  color: red;
  font-size: 0.8rem;
  position: absolute;
  bottom: -90%;
  left: 0;

  text-align: left;
}
.buttons {
  display: flex;
  gap: 8px;
  margin-top: 6%;
}
.login-btn {
  padding: 1rem;
  background-color: white;
  color: var(--dark-background-color);
  font-size: 1.3rem;
  font-weight: 550;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid var(--dark-background-color);
}
#change-username,
h2 {
  line-height: 1.5;
}
.signup-btn,
.logout-btn2,
.create-profile {
  padding: 1rem;
  background-color: rgb(11, 11, 102);
  font-size: 1.3rem;
  color: white;
  font-weight: 550;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid rgb(11, 11, 102);
}
.logout-btn2 {
  background-color: darkred;
  border: none;
  margin-bottom: 0;
  margin-top: 4%;
  display: flex;
  justify-content: center;
}
.change-pass-btn {
  border-radius: 10px;
  background-color: whitesmoke;
  border: none;
  padding: 6%;
  font-weight: 550;
  color: var(--dark-background-color);
  cursor: pointer;
  margin-top: 4%;
}
.change-pass-btn:hover {
  background-color: grey;
  color: black;
}
.logout-btn2:hover {
  color: grey;
  background-color: rgb(77, 14, 14);
}
.sign-in-email {
  position: relative;
}
.login-btn:hover,
.signup-btn:hover,
.create-profile:hover {
  box-shadow: 0 0 0px 3px rgb(196, 196, 221);

  outline: none;
}

.signup-container {
  width: 55vw;
  height: 70vh;
  min-height: 540px;
  min-width: 700px;
  background-color: rgb(245, 245, 245);
  margin-top: 4.4%;
  border-radius: 1rem;
  z-index: 1;
}
.signup-h1 {
  color: var(--dark-background-color);
  text-align: left;
  margin-left: 50px;

  margin-top: 3rem;
}
.logo {
  height: 20%;
  width: 15%;
  min-width: auto;
  float: left;
  top: 20px;
  clear: both;
  border-radius: 1rem;
}
.password {
  position: relative;
}
.name-email-password {
  display: flex;
  flex-direction: column;
  width: 50%;

  margin-left: 5.5%;
  gap: 10px;
}
.signup-info {
  display: flex;
  /* min-height: 600px; */
  min-width: 700px;
  width: 100%;
}
#signup-form {
  margin-top: 10%;
  width: 55vw;
  clear: both;
  /* min-height: 600px; */
  height: 60vh;
  min-width: 700px;
  display: flex;
  flex-direction: column;
}
label {
  font-size: 1.2rem;
  margin-bottom: 15%;
}
label ~ label {
  margin-top: 20px;
}

.last-phone-confirm {
  display: flex;
  flex-direction: column;
  width: 50%;

  margin-left: 4%;
  margin-right: 5.5%;
  gap: 10px;
}
.create-profile {
  align-self: flex-end;
  margin-right: 5.5%;
  margin-top: 2%;
  min-width: auto;
}
.signup-link {
  align-self: flex-end;
  margin-right: 5.5%;
  margin-top: 5%;
  text-decoration: none;
}
#signup-form p {
  align-self: flex-end;
  margin-right: 5.5%;
  margin-top: 3%;
  font-size: 1.2rem;
}
#signup-form p a {
  text-decoration: none;
  font-weight: bold;
  color: var(--dark-background-color);
}
#signup-form .error-message {
  align-self: flex-start;
}

.ps4 {
  position: absolute;
  z-index: 0;
  left: 8%;
  min-width: 200.5px;

  top: 18%;
  opacity: 0.3;
}
.mouse {
  position: fixed;
  z-index: 0;
  right: 8%;
  min-width: 200.5px;

  top: 5%;
  opacity: 0.3;
}
.keyboard {
  position: fixed;
  z-index: 0;
  min-width: 200.5px;

  right: 20%;

  bottom: -4%;
  opacity: 0.3;
}

.main-container-home {
  width: 100vw;
  min-width: 20vw;
  height: 100vh;
  min-height: 100vh;
  background: rgb(9, 9, 39);
  margin-left: 0px;
  display: flex;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
}
.main-container-home2 {
  width: 100vw;
  min-width: 20vw;
  height: 100vh;
  min-height: 487px;
  background: rgb(9, 9, 39);
  margin-left: 0px;
  display: flex;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.sidebar {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  border-right: 0.7px solid var(--dark-bacground-white);
  min-width: 90px;
  overflow: hidden;
}
.menu-icon2 {
  width: 30%;
  display: flex;
  height: 21px;
  justify-content: center;
  align-items: flex-start;
}

.menu {
  width: 80%;
  color: var(--dark-background-secondary-color);
  margin-top: 40%;
  margin-left: 13%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 36%;
}
.menu-home-btn,
.menu-home-btn.active {
  display: flex;
  color: var(--dark-background-button-color);
  background-color: rgb(9, 9, 39);
  align-items: center;

  height: 100%;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
.menu-home-btn.active {
  font-weight: bolder;
  color: var(--dark-bacground-white);
}

.menu-home-link {
  height: 17%;
}

.menu-home p {
  margin-left: 5%;
}
.menu-home-links {
  height: 90%;
  width: 100%;
}
.user {
  font-size: 1.3rem;
  margin-top: 25%;
  margin-left: 30%;
}
.user p {
  color: var(--dark-bacground-white);
}
/* .menu button {
  display: flex;
  width: 95%;

  font-size: 1.3rem;
  color: white;
  background-color: rgb(9, 9, 39);
  cursor: pointer;
  border: none;
} */
.menu a {
  text-decoration: none;
  cursor: pointer;
}

#searchbox {
  /* position: fixed; */
  width: 70%;
  padding: 1.5rem;
  margin-left: 6%;
  min-width: 300px;
  border-radius: 6px;
  font-size: 1.3rem;
}
#form-home {
  margin-top: 2%;
}
.search-content {
  margin-top: 20%;
  margin-left: 6%;
}
.home-main {
  min-width: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  scrollbar-width: none;
  height: 100vh;
}
.menu-home-btn:hover {
  background-color: lightgrey;
  color: hwb(240 5% 79%);
}

.favourites {
  border-left: 0.7px solid var(--dark-bacground-white);

  min-width: 300px;
}
.favourites-content {
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  min-width: 300px;
}
.favourites h2 {
  font-size: 1.3rem;
  color: var(--dark-bacground-white);
  margin-left: 8%;
}
.favourites ul li {
  list-style-type: none;
  margin-left: 0;
}

.light-logo {
  height: 8%;

  margin-left: 1%;
  margin-top: 3%;
  cursor: pointer;
}
.light-logo2 {
  height: 8%;
  margin-left: 1%;
  margin-top: 3%;
  cursor: pointer;
}
.log-in-google,
.reset-password {
  background-color: whitesmoke;
  color: black;
  top: 52%;
  cursor: pointer;
  border: none;
}

.input-container {
  margin-bottom: 10%;
  position: relative;
}

.username-info {
  color: var(--dark-bacground-white);
  font-size: 1.55rem;
  cursor: pointer;
}

.profile {
  color: var(--dark-background-secondary-color);
  margin-left: 10%;
  margin-top: 2%;
  height: 35%;
}
.profile h1 {
  color: var(--dark-background-secondary-color);
}
.home-main h1 {
  color: var(--dark-background-secondary-color);
}
.logout-btn {
  border-radius: 8px;
  padding: 1.2rem;
  border: 1.1px solid black;
  cursor: pointer;
  font-weight: bold;
}
.logout-btn:hover {
  background-color: lightgrey;
  color: hwb(240 0% 11%);
}
.edit-btn:hover {
  color: darkgrey;
}
.forgot-google {
  display: flex;
}
.edit-username-div {
  display: flex;
  align-items: flex-end;
  height: 41.94px;

  position: relative;
}
.edit-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 5%;
  height: 100%;
  min-width: 205px;
}
.edit-div h2 {
  margin-bottom: 0;
}
.edit-div input {
  margin-bottom: 0;
}
.info-edit-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 5%;
}
.info-edit-div h2 {
  margin-bottom: 0;
}
.edit-btn {
  background: none;
  border: none;
  color: grey;
  font-size: 1.3rem;
  font-weight: 550;
  border-radius: 10px;
  margin-bottom: 2%;
  cursor: pointer;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.user_now {
  display: flex;
  align-items: center;
  margin-top: 5%;
  border-bottom: 1px solid var(--dark-background-secondary-color);
  margin-bottom: 5%;
  padding-bottom: 2.5%;
}
.user_now2 {
  display: flex;
  align-items: center;
  margin-top: 5%;
  border-bottom: 1px solid var(--dark-background-secondary-color);
  margin-bottom: 5%;
}
.user_now2 h1 {
  color: var(--dark-background-secondary-color);
  margin-left: 4%;
}
.user-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 15%;
  margin-right: 10%;
  box-shadow: 0 8px 10px -5px rgba(173, 216, 230, 0.6);
  max-width: 60px;
  height: 74.7px;
}
.user-image2 {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  margin-left: 0;
  min-width: 27px;
  margin-right: 0;
  max-width: 27px;
  max-height: 27px;
}

@media (max-width: 1920px) {
  .user-image2 {
    width: 60%;
  }
  .comment-section {
    width: 94ch;
  }
  .comment-text {
    margin-left: 8.2%;
  }
  .ps4 {
    height: 25vh;
    width: 18vw;
  }
  .signup-h1 {
    font-size: 3rem;
  }
  .mouse {
    height: 25vh;
    width: 18vw;
  }
  .keyboard {
    height: 25vh;
    width: 18vw;
  }
  .user-image-small {
    max-height: 44.625px;
    min-height: 44.68px;
  }
  .user-image-smaller {
    max-height: 30px;
  }
  .posts,
  .post-hovers {
    width: 94ch;
  }
  .edit-div {
    height: 80%;
  }
  .info-edit-div {
    height: 80%;
  }
  .posts2 {
    width: 90ch;
  }
  .events {
    width: 90ch;
  }
  .events2 {
    width: 60ch;
  }
  .createPost,
  .createPost2 {
    font-size: 3.5rem;
  }
  .light-logo {
    width: 32%;
    min-width: 80px;
    max-width: 90px;
  }
  .menu-icon,
  .menu-icon3 {
    width: 30%;
    display: flex;
    justify-content: center;
  }
  .menu-icon3 {
    height: 80%;
    align-items: center;
  }

  .light-logo2 {
    width: 20%;
    min-width: 60px;
  }
  .logout-btn2 {
    width: 60%;
    max-width: 98px;
  }
  .menu-home-btn {
    font-size: 1.6rem;
    width: 100%;
  }
  .image-container {
    width: 60%;
    height: 270%;
    min-height: 72px;
  }
  .profile-basic-info img {
    min-width: 150px;
  }
  .name-username-profile {
    font-size: 1.2rem;
    margin-left: 18%;
  }
  .menu-home-link {
    width: 100%;
  }
  .user-image-div {
    width: 60px;
    height: 60px;
  }
  .user-image-smaller2 {
    max-height: 21px;
  }
  .deleteDialog {
    width: 40%;
  }
}

@media (max-width: 1366px) {
  .user-image2 {
    width: 60%;
  }
  .comment-text {
    margin-left: 11.1%;
  }
  .ps4 {
    height: 25vh;
    width: 10vw;
  }
  .signup-h1 {
    font-size: 2.8rem;
  }
  .comment-section {
    width: 70ch;
  }
  .mouse {
    height: 25vh;
    width: 18vw;
  }
  .keyboard {
    height: 25vh;
    width: 18vw;
  }
  .user-image-small {
    max-height: 33.26px;
    min-height: 33.26px;
  }
  .edit-div {
    height: 100%;
  }

  .info-edit-div {
    height: 100%;
  }
  .user-image-smaller2 {
    max-height: 16px;
  }
  .deleteDialog {
    width: 50%;
  }
  .user-image-smaller {
    max-height: 23.7px;
  }

  .menu {
    margin-top: 60%;
  }
  .user-image-div {
    width: 50px;
    height: 50px;
  }
  .posts,
  .post-hovers {
    width: 70ch;
  }
  .posts2 {
    width: 70ch;
  }
  .events2 {
    width: 45ch;
  }
  .events {
    width: 70ch;
  }
  .createPost,
  .createPost2 {
    font-size: 2.7rem;
  }
  .light-logo {
    width: 35%;
    height: 9%;
    max-width: 80px;
    min-width: 55px;
  }
  .image-container {
    width: 60%;
  }
  .light-logo2 {
    width: 20%;
  }
  .menu-home-btn {
    font-size: 1.5rem;
    width: 100%;
  }
  .logout-btn2 {
    width: 50%;
  }
  .menu-icon,
  .menu-icon2,
  .menu-icon3 {
    margin-right: 5%;
  }
  .menu-icon3 {
    height: 100%;
  }
  .profile-basic-info img {
    min-width: 120px;
  }
  .name-username-profile {
    font-size: 1.1rem;
  }
  .name-username-profile h1 {
    margin-top: 6%;
  }
  .menu-home-link {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .profile-basic-info img,
  .posts-events-btns button,
  .createPost2 svg,
  .createPost svg,
  .menu-text2 span,
  .menu-text span,
  .light-logo,
  .light-logo2 {
    display: none;
  }
  .ps4,
  .keyboard,
  .mouse {
    display: none;
  }
  .menu {
    margin-top: 130%;

    align-items: center;
  }
  .name-username-profile {
    margin-left: 8%;
  }
  .menu-home-link {
    width: 50%;
  }
  .menu-home-btn {
    width: 100%;
    font-size: 2rem;
  }
  .menu-home-btn:hover {
    background-color: rgb(9, 9, 39);
    color: grey;
  }
}
@media (max-width: 1265px) {
  .faPen,
  .trash2 {
    display: none;
  }
}
.user-img-large-div {
  position: absolute;
  left: 8%;

  bottom: -2%;
}
#change-username {
}
.user-img-large-div .image-container {
  position: relative;
  display: inline-block;
}
.user-img-large-div .user-image-large {
  display: block;
}
.user-img-large-div .overlay,
.user-img-large-div .overlay-visible {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.64); /* Grey background with transparency */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
  border-radius: 50%;
}

.user-img-large-div .image-container:hover .overlay,
.user-img-large-div .overlay-visible {
  box-shadow: none;

  opacity: 1;
}
.user-image-div {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-left: 5%;
  margin-right: 2%;
  box-shadow: 0px 0px 20px rgba(173, 216, 230, 0.6);
}
.user-image-large {
  width: 100%;
  height: 100%;
  border-radius: 50%;

  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.3);
  transition: box-shadow 0.3s ease;
}
.user-image-small {
  width: 7%;
  height: 7%;
  border-radius: 50%;
}

.post-dialog {
  padding: 3%;
  border-radius: 8px;
  height: 50%;
  width: 40%;
  background: radial-gradient(circle, black, rgb(11, 11, 102));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 0.8px solid rgb(11, 11, 102);
}
#post-form {
  position: relative;
}
.dialog-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 8px;

  padding: 2.2%;
}
form #description-area {
  width: 100%;
  height: 60%;
  margin-top: 8%;
  margin-bottom: 5%;
  border: 0.8px solid rgb(49, 49, 252);
  border-radius: 5px;
  padding: 8px;
}
.close,
.close3 {
  position: absolute;
  top: 4%;
  right: 2%;
  background: none;
  color: white;
  border-radius: 20%;
  font-size: 1.25rem;
  padding: 0.6rem;
  border: none;
  cursor: pointer;
}
.close3 {
  color: firebrick;
  font-weight: bold;
  font-size: 1.6rem;
}
.close:hover {
  /* box-shadow: 0 0 0px 1.6px rgb(213, 94, 92); */
  color: rgb(213, 94, 92);

  outline: none;
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
#post-title {
  margin-top: 0;
}
.feed {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 1%;
  margin-top: 8%;

  flex: 1;
}
.posts,
.post-hovers {
  color: var(--dark-background-secondary-color);
  text-align: justify;

  margin-top: 1%;
  min-height: 200px;
  max-height: 380px;
  margin-bottom: 6%;
  border-bottom: 0.7px solid var(--dark-background-secondary-color);
  border-radius: 8px;
  padding: 1% 2% 1% 2%;
  margin-left: 6%;
  position: relative;
  border: none;
  box-shadow: 0 8px 10px -5px rgba(173, 216, 230, 0.6);
}
.posts2 {
  color: var(--dark-background-secondary-color);
  text-align: justify;

  margin-top: 6%;
  min-height: 200px;
  max-height: 380px;
  margin-bottom: 4%;
  border-bottom: 0.7px solid var(--dark-background-secondary-color);
  border-radius: 8px;
  padding: 1% 2% 1% 2%;
  margin-left: 6%;
  box-shadow: 0 8px 10px -5px rgba(173, 216, 230, 0.6);
  position: relative;
}
.posts:last-child() {
  margin-bottom: 50px;
}
.events,
.events-hovers {
  color: var(--dark-background-secondary-color);
  text-align: justify;

  margin-top: 4%;
  max-height: 400px;
  margin-bottom: 4%;
  border: 0.7px solid var(--dark-background-secondary-color);

  border-radius: 8px;
  padding: 1% 2% 1% 2%;
  margin-left: 6%;
}
.events2 {
  color: var(--dark-background-secondary-color);
  text-align: justify;

  margin-top: 4%;
  max-height: 400px;
  margin-bottom: 4%;
  border: 0.7px solid var(--dark-background-secondary-color);

  border-radius: 8px;
  padding: 1% 2% 1% 2%;
  margin-left: 6%;
}
.events:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.posts:hover,
.posts2:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.posts h1,
.post-hovers h2,
.posts h2,
.events h1,
.events h2 {
  text-align: left;
  text-decoration: underline;
  font-size: 2rem;
}
.highlight {
  color: rgb(64, 102, 11);
}
.post-content {
  font-size: 1.1rem;
  max-height: 130px;
  overflow: auto;
  scrollbar-width: 5px;
  line-height: 18px;

  padding-right: 9px;
}
.author {
  display: flex;
  align-items: center;

  gap: 15px;
  font-size: 1.4rem;
}

.author p::after {
  content: 'posted:';
  font-size: 0.7rem;
  margin-left: 6%;
  color: grey;
}
.trash {
  margin-left: auto;
  background: none;
  border: none;
  color: grey;
  cursor: pointer;
  font-size: 1.4rem;
}
.trash:hover,
.trash2:hover {
  color: rgb(228, 59, 59);
}
.trash2 {
  background: none;
  border: none;
  color: grey;
  cursor: pointer;
  font-size: 1.4rem;
}

.post-choose-media input {
  display: none;
}
.choose-media {
  color: var(--dark-background-color);
  background-color: var(--dark-background-secondary-color);
  cursor: pointer;
  height: 5%;
  width: 30%;

  border: 1px solid var(--dark-background-secondary-color);
  padding: 0.2rem;
}
.choose-media label {
  cursor: pointer;
  border-radius: 5%;
  width: 30%;
}
.choose-media:hover {
  background-color: lightgrey;
}

.post-choose-media {
  display: flex;
  align-items: center;
  margin-top: 2%;
}
.elements {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 8px;
}
.post-image {
  max-width: 60%;
  max-height: 50%;
  margin-top: 3.5%;
}
.empty-title {
  color: red;
  font-size: 0.8rem;
  position: absolute;
  text-align: left;
}
.empty-description {
  color: red;
  font-size: 0.8rem;
  position: absolute;
  text-align: left;
  top: 94%;
}
.close2 {
  position: fixed;
  top: 2%;
  right: 2%;
  background: none;
  color: white;
  border-radius: 20%;
  font-size: 2rem;
  padding: 0.6rem;
  border: none;
  cursor: pointer;
}
.close2:hover {
  color: red;
}
.imageDialog {
  background: none;
  border: none;
}
.imageDialog::backdrop,
#goingDialog::backdrop,
.deleteDialog::backdrop {
  background-color: rgba(0, 0, 0, 0.9);
}
.post-image {
  cursor: pointer;
}
.post-image:hover {
  box-shadow: 4px 3px 8px 0 rgba(0, 0, 0, 0.7);
}
.events-main-div {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 2%;
  margin-left: 5%;
}
.addEvent {
  width: 3%;
  position: fixed;
  right: 2%;
  bottom: 3%;
  background: whitesmoke;
  color: var(--dark-background-color);
  font-size: 2.5rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.addEvent:hover {
  background-color: lightgrey;
}
.newEventDialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  /* gap: 20px; */
  width: 90%;
  height: 100%;
}
.eventDialog {
  align-items: center;

  flex-direction: column;

  width: 50%;
  height: 70%;
  padding: 2%;
  border-radius: 8px;
  background: radial-gradient(circle, black, var(--dark-background-color));
}
.eventDialog[open] {
  display: flex;
}
.eventDescription {
  height: 100%;
  padding: 3%;
  width: 100%;

  border-radius: 5px;
}
.inputFieldDescription {
  height: 40%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.eventDate {
  width: 100%;
  padding: 4%;

  border-radius: 5px;
  border: none;
  background-color: whitesmoke;
}
.invalidDate {
  width: 100%;
  padding: 4%;

  border-radius: 5px;
  border: none;
  background-color: whitesmoke;
  box-shadow: 0 0 6px 3px rgb(201, 4, 4);
  border: none;
  outline: none;
}
.date-create {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
.map {
  height: 40%;
  width: 40%;
}
#location {
  padding: 5%;
  width: 100%;
  height: inherit;
  border-radius: 5px;
  margin-top: 0;
  border: none;
  background-color: whitesmoke;
}
.post-date {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: grey;
}
.post-date2 {
  margin-left: 10%;
}

.post-location p,
.post-date2 p,
.post-location3 p {
  font-size: 1rem;
  color: grey;
}
.inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8%;
  margin-top: 5%;
}
.post-info {
  display: flex;
  margin-top: 6%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 2%;
}

.post-location2 {
  display: flex;
  flex-direction: column;
  margin-top: 2.5%;
  margin-left: 2%;
  gap: 17px;
}
.post-location {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5%;
}
.post-location3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.post-location a {
  color: var(--dark-background-secondary-color);
  cursor: pointer;
}
.post-location2 {
  margin-top: 3%;
}
.events-title {
  margin-left: 6%;

  top: 2%;
}
.author2::before {
  content: 'creator:';
  margin-left: 2%;
  font-size: 0.8rem;
  color: grey;
}
.author2 {
  display: flex;
  align-items: center;
  position: relative;
  gap: 10px;

  font-size: 1.2rem;
  box-sizing: border-box;
}
.user-image-smaller,
.user-image-smaller2 {
  width: 5%;
  height: 5%;
  border-radius: 50%;
}
.title-delete {
  display: flex;
  justify-content: space-between;
}
.createPost {
  position: fixed;
  bottom: 4%;
  right: 30%;
  display: flex;
  background: none;

  color: var(--dark-bacground-white);

  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.createPost2 {
  position: fixed;
  bottom: 4%;
  right: 20%;
  display: flex;
  background: none;

  color: var(--dark-bacground-white);

  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.createPost:hover,
.createPost2:hover {
  color: lightgray;
}
.inputFieldTitle,
.inputFieldDescription,
.inputFieldLocation,
.inputFieldDate {
  position: relative;
}
.inputFieldLocation,
.inputFieldLink {
  height: 30%;
}

.emptyField {
  color: red;
  font-size: 0.8rem;
  position: absolute;
  bottom: 20;
  left: 0;

  text-align: left;
}
.invalidDescription {
  height: 100%;
  padding: 3%;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 6px 3px rgb(201, 4, 4);
  border: none;
  outline: none;
}

.comment-btn {
  position: absolute;
  right: 5%;
  bottom: 2%;
  font-size: 1.2rem;
  font-weight: 500;
  gap: 10px;
  width: 25%;
  background: none;
  border: none;
  color: rgb(117, 117, 117);
  cursor: pointer;
}
.comment-btn span {
  margin-right: 5%;
}

.comment-btn:hover {
  background-color: lightgrey;
  color: var(--dark-background-color);
  border-radius: 5px;
}
.comment-profile-pic {
  width: 7.5%;
  height: 70%;
  border-radius: 50%;
  max-height: 33.18px;
  max-width: 33.18px;
  margin-left: 1%;
}
.comment-section {
  display: flex;
  flex-direction: column;

  margin-left: 6%;
  margin-bottom: 10%;

  margin-top: 0;
  border-radius: 8px;
  border-bottom: 0.7px solid var(--dark-background-secondary-color);

  padding: 2%;
}
.comment-section textarea {
  background: none;
  border-radius: 5px;
  margin-left: 2%;
  margin-right: 3%;
  width: 70%;
  padding: 2%;
  color: var(--dark-background-secondary-color);
  background-color: rgb(42, 42, 68);
}
.post-comment-btn {
  border: none;
  background: none;
  color: lightgrey;
  cursor: pointer;
}
.post-comment-btn:hover {
  color: rgb(67, 67, 67);
}
.comment-author,
.comment-text {
  color: var(--dark-bacground-white);
}
.comment-text {
  margin-top: 0;
}
.comment {
  display: flex;
  align-items: center;
  width: 100%;
}
.comments-list {
  margin-top: 2%;
}
.comment-author {
  display: flex;
  align-items: center;
  gap: 11px;
  font-size: 1.1rem;
}
.comment-author p::after {
  content: 'says:';
  font-size: 0.8rem;
  margin-left: 6%;
  color: grey;
}
.comment-child {
  margin-top: 7%;
  margin-bottom: 5%;
  position: relative;
  padding: 2%;
  border-radius: 5px;
  background-color: rgb(42, 42, 68);
}

.profile-basic-info {
  align-items: center;
  flex: 0 0 25%;
  z-index: 1;
  position: relative;
  box-shadow: 0 4px 6px rgba(168, 167, 167, 0.8);
  gap: 8px;
  width: 100%;
  height: 80%;
  border-bottom: 0.3px solid var(--dark-background-secondary-color);
}
.profile-basic-info img {
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.3);
  transition: box-shadow 0.3s ease;
  position: absolute;
  left: 3%;
  bottom: -35%;
  width: 11%;
  height: 65%;

  border-radius: 50%;
  margin-left: 2%;
}
.profile-basic-info h1 {
  font-size: 2.2rem;
  margin-bottom: 0;
}
.profile-basic-info p {
  color: grey;
  font-size: 1.2rem;
  margin-top: 0;
}
.profile-basic-info div {
  display: flex;
  flex-direction: column;
  gap: 1px;
  text-align: left;
  margin-right: auto;
}
.posts-events-btns {
  display: flex;
  gap: 50px;
  flex-direction: column;
  margin-left: 20%;
  margin-top: 6%;
  position: fixed;
  right: 5%;
  top: 30%;
  overflow: none;
}
.posts-events-btns button {
  background: none;
  border: none;
  color: whitesmoke;
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: bold;

  margin-bottom: 2%;
  position: relative;
}
.posts-events-btns button::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1.5px;
  background-color: var(--dark-background-secondary-color);
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}
.posts-events-btns button:focus {
  outline: none;
}
.posts-events-btns button:hover {
  opacity: 0.8;
}
.posts-events-btns .focused:before {
  transform: scaleX(1);
}
.profile-posts {
  width: 90%;
  margin-top: 2.5%;
  display: flex;
  flex-direction: column;
}
.name-username-profile {
  text-align: left;
  color: var(--dark-background-secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.name-username-profile p {
  margin-top: 0;
}
.name-username-profile h1 {
  margin-bottom: 0;
}
.updateProfile {
  background: none;
  color: lightgray;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  margin-right: 40px;
}
.updateProfile:hover {
  border: 3px solid grey;
  outline: none;
}
.profile-main {
  display: flex;
}

.customLink {
  text-decoration: none;
  color: var(--dark-bacground-white);
  max-width: 13ch;
  overflow: auto;
}
.customLink3 {
  text-decoration: none;
  color: var(--dark-bacground-white);
  max-width: 15ch;
  overflow: auto;
}
.customLink2 {
  text-decoration: none;
  color: var(--dark-bacground-white);
}

.customLink:hover,
.customLink2 h3:hover,
.customLink3:hover {
  color: grey;
}
.searchBtn {
  background: none;
  border: none;
  color: var(--dark-background-secondary-color);
  margin-left: 2%;

  font-size: 1.5rem;
  cursor: pointer;
}
.searchBtn:hover {
  color: grey;
}
.noPosts {
  color: grey;
  font-size: 1.7rem;
  margin-left: auto;
  margin-right: auto;
}
.addFavourites {
  width: 15%;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: var(--dark-background-secondary-color);
  cursor: pointer;
}
.addFavourites:hover {
  color: grey;
}
#addFavouriteTitle {
  width: 67%;
  margin-left: 8%;
}
.faCheck,
.faX {
  background: none;
  border: none;
  color: whitesmoke;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
}
.faCheck2 {
  margin-left: 1%;
}
.faX {
  font-size: 1.2rem;
}
.faCheck:hover {
  color: green;
}
.faPen:hover {
  border-radius: 50%;

  color: grey;
}
.faX:hover {
  color: rgb(228, 59, 59);
}
#favouritesForm {
  display: flex;
  align-items: center;
}
ul {
  list-style-type: none;
  padding-left: 0;
}

.favouriteItems {
  color: var(--dark-background-secondary-color);
  font-size: 1.4rem;
  margin-bottom: 3%;
  justify-content: space-between;
  display: flex;
}

.favouriteItems > .spans {
  width: 80%;
}
.favouriteItems > .spans span:hover {
  color: grey;
  cursor: pointer;
}
.favouriteItems > .spans::before {
  content: '-';
  color: var(--dark-background-secondary-color);
  margin-left: 9%;
  margin-right: 1%;
  font-size: 1.9rem;
}
.faPen {
  background: none;
  border: none;
  color: whitesmoke;
  font-size: 1.6rem;
  cursor: pointer;
}
.faPen::before {
  content: '';
}
#editFavourite {
  width: 80%;
}
.upcomingEvents {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 84vh;
}
.going {
  margin-left: auto;

  background: none;
  border: none;
  color: grey;

  cursor: pointer;
}
.author2 p {
  margin-left: auto;
}
.notgoing,
.notgoing2 {
  margin-left: auto;
  text-align: left;
  margin-right: 0;
  background: none;
  border: none;
  color: grey;

  cursor: pointer;
  padding: 0;
}

.notgoing:hover,
.notgoing2:hover {
  color: rgb(228, 59, 59);
}

.going:hover {
  color: green;
}
.going span {
  margin-right: 2%;
}
.goingList {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  overflow: auto;
  border: none;
  padding-top: 2%;
  padding-bottom: 4%;
}
.goingChild {
  display: flex;
  margin-left: 5%;
  border-bottom: 0.5px solid whitesmoke;
  align-items: center;
  padding: 1.3%;
}
.customLink2 h3 {
  color: whitesmoke;
  font-size: 1.5rem;
  margin-left: 1rem;
}
#goingDialog {
  width: 30%;
  height: 68%;
  background-color: rgb(17, 12, 82);
  border: none;
  border-radius: 10px;
}
.going-user-img {
  width: 15%;
  height: auto;
  border-radius: 50%;

  aspect-ratio: 1/1;
}
.time {
  display: flex;
  border: none;
  padding: 2%;
  border-radius: 5px;
}
.attending,
.postTitle {
  cursor: pointer;
}
.attending:hover,
.postTitle:hover {
  color: grey;
}
.attending-going-info {
  margin-left: auto;
  display: flex;
  gap: 5px;
}
.LinkTime {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#link {
  width: 100%;
  border-radius: 5px;
  padding: 5%;
  border: none;
  height: inherit;
}
.post-link {
  max-width: 30ch;
  overflow: auto;
}
.post-hovers,
.events-hovers {
  animation: fadeOut 1.5s forwards;
}
@keyframes fadeOut {
  from {
    background-color: rgba(255, 255, 255, 0.1);
  }
  to {
    background-color: transparent;
  }
}
.deleteDialog {
  /* background-color: rgb(8, 6, 70); */

  background-color: rgb(59, 59, 59);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;

  color: whitesmoke;
  border: none;
  padding: 2%;
  min-width: 200px;
  border-radius: 10px;
  text-align: justify;
  position: relative;
}
.warning {
  width: 20%;
  height: 20%;
  z-index: -3;
  position: absolute;
  height: 80%;
  opacity: 0.3;
  left: 2%;
  bottom: 5%;
}
.deleteDialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.yesbtn {
  background-color: rgb(11, 58, 11);
  color: whitesmoke;
  border: 1.5px solid rgb(8, 83, 8);
  border-radius: 10px;
  padding: 2%;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.5rem;
}
.yesbtn:hover {
  background-color: rgb(2, 42, 2);
  color: rgb(201, 194, 194);

  border: 1.5px solid rgb(2, 42, 2);
}
.nobtn:hover {
  background-color: rgb(63, 11, 11);
  border: 1.5px solid rgb(63, 11, 11);
  color: rgb(201, 194, 194);
}
.nobtn {
  background-color: rgb(100, 14, 14);
  color: whitesmoke;
  border: 1.5px solid rgb(120, 16, 16);
  border-radius: 10px;
  padding: 2%;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.5rem;
}
.user-img-large-div {
  width: 20%;
  height: 25%;
  display: flex;
  border-radius: 50%;
}
.profile-info {
  margin-left: 15%;
  height: 100%;
  display: flex;
}
.user-background {
  box-shadow: 0 4px 6px rgba(168, 167, 167, 0.8);
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  min-height: 110px;
  width: 100%;
}
.user-background-image {
  opacity: 0.8;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;
  min-height: 110px;
}
.faPen2 {
  background: none;
  border: none;
  color: whitesmoke;
  font-size: 1.6rem;
  cursor: pointer;
  right: 3%;
  bottom: 15%;
  padding: 0.3%;
  position: absolute;
}
.faPen2:hover {
  color: grey;
  background-color: whitesmoke;
  padding: 0.3%;
  border-radius: 50%;
}
.background-image-settings {
  height: 100%;
  width: inherit;
}
